<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get-it</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/templates/style/getit.css" />
  </head>

  <body id = "body">
    <div class="appbar">
      <img src="/img/logo-getit.png" class="logo" />
      <span class="subtitle">Como o Post-it, mas com outro verbo</span>
      <div class="left-flex">
        <button class="nightmodelogo" id="night-mode-toggle"><img src="/img/nightmode.png" class="nightmodeimg"/></button>
      </div>
    </div>

    <main class="container">
      <form action="/save/" class="form-card" method="post" id = "form">
        <input type="hidden" name="id" value="{id}">
        <input id = "formTitle" class="form-card-title" type="text" name="titulo" placeholder="Título" value="{title}" />
        <textarea id = "formDetails" class="autoresize" name="detalhes" placeholder="Digite o conteúdo...">{details}</textarea>
        <div class="form-card-buttons">
            <button class="btn" type="button" onclick="window.location.href='/'">Cancelar</button>
            <button class="btn" type="submit">Salvar</button>
        </div>
      </form>
    </main>
    <script type="text/javascript" src="/templates/style/getit.js"></script>
  </body>
</html>